@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #465cb7;

}

body {
    font-family: 'Roboto', sans-serif;
}

.btn {
    background-color: var(--primary-color);
    color: white;
}

h1 {
    color: var(--primary-color);
    font-size: 1.7rem;
    padding-left: 70px;
    font-style: italic;
    font-weight: bold;
}

span {
    color: rgb(115, 96, 201);
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f6f5fa;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 13px;

}

a:hover {
    text-decoration: none;
    color: rgb(245, 245, 245);
}

nav ul li a {
    position: relative;
    font-size: 20px;
    color: white;
    border-radius: 0px 0px 20px 20px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    background-color: var(--primary-color);

}

nav ul li a:before {
    content: '';
    background: rgb(94, 83, 192);
    position: absolute;
    bottom: -10px;
    height: 4px;
    width: 0%;
    transition: ease 1.2s;
    text-decoration: none;
}

nav ul li a:hover::before {
    width: 100%;
    transition: ease-in .4s;

}


@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.container{
    margin-top: 100px;
    display: flex;
    gap: 20px;
}
.diente{
    background-image: url('/img/diente.png');
    width: 25%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.formulario{
    width: 70%;
}
.nav-pills{
    display: flex;
    gap: 13px;
}
.nav-link {
    color: white;
    font-size: 1.6rem;
   background-color: #435991;
}
    
.nav-link:hover {
    background-color: var(--primary-color);
}


.fondo {
   background-image: url('/img/fondo2.jpg');
    width: 100%;
    color: black;
}

#div_odontologo_table>h2 {
    margin-top: 20px;
}

thead th {
    color: black;
}

tbody {
    color: black;
}
.footer-odontologo{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:var(--primary-color);
    text-align:center;
    display: flex;
    justify-content: center;
    padding:15px;
}
.footer-odontologo>h2{
    color: white;
}
.footer-odontologo>h2>span{
    color:#00BCD4;
}
.iconos {
    display: flex;
    gap: 13px;
    align-items: flex-end;
    text-align: center;

}
.iconos>div>h2{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.iconos>div>h2>span{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 100px; 
}
.nav {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.nav-alta{
    margin-top: 20px;
}
